/* Global Styles */
:root {
  --header-color: rgb(245, 118, 176);
  --bb-color: #FFB6C1; 
  --c-color: #DB7093;
  --hover-color: rgba(253,46,139,.5);
  --footer-color: #e75a84;

  --grad1-color : #FF69B4;
  --grad2-color : #FF1493;
  --grad3-color : #C71585;
  --grad4-color : #DB7093;
  --grad5-color : #FF69B4;

  --font-color : #333;
  --refont-color : #fff;
  --content-color : #ffffff;
}

[data-theme='dark'] {
  --header-color: rgb(60, 60, 60); 
  --bb-color: rgba(0, 0, 0, 0.5); 
  --c-color: #423f6d;
  --hover-color: rgba(255, 105, 180, .5); 
  --footer-color: #a7a7a7; 

  --grad1-color: #8A2BE2; 
  --grad2-color: #6A5ACD;
  --grad3-color: #4B0082;
  --grad4-color: #9400D3;
  --grad5-color: #9932CC;

  --font-color : #fff;
  --refont-color : #333;
  --content-color : #555;
}


[data-theme='brown']  {
  --header-color: rgb(204, 85, 0); 
  --bb-color: #FFB84D; 
  --c-color: #967c67; 
  --hover-color: rgba(255, 81, 0, 0.5); 
  --footer-color: #6A4E4C; 

  --grad1-color : #CC5500;
  --grad2-color : #FFB84D;
  --grad3-color : #BFAF9D;
  --grad4-color : #6A4E4C;
  --grad5-color : #FF8C00;

  --font-color : #333;
  --refont-color : #fff;
  --content-color : #ffffff;
}

[data-theme='green'] {
  --header-color: #80AF81; 
  --bb-color: #abeeb0; 
  --c-color: #508D4E; 
  --hover-color: rgba(105, 143, 106, 0.5); 
  --footer-color: #1A5319; 

  --grad1-color: #D6EFD8; 
  --grad2-color: #80AF81; 
  --grad3-color: #508D4E; 
  --grad4-color: #1A5319; 
  --grad5-color: #32462e; 

  --font-color : #333;
  --refont-color : #fff;
  --content-color : #ffffff;
}

[data-theme='blue'] {
  --header-color: #5356FF;
  --bb-color: #a2dcf7;
  --c-color: #67C6E3;
  --hover-color: rgba(55, 140, 231, 0.5);
  --footer-color: #378CE7;

  --grad1-color: #5356FF;
  --grad2-color: #378CE7;
  --grad3-color: #67C6E3;
  --grad4-color: #A0D8E8;
  --grad5-color: #89b9cf;

  --font-color : #333;
  --refont-color : #fff;
  --content-color : #ffffff;
}

[data-theme='yellow'] {
  --header-color: #FFB800;
  --bb-color: #FFD966;
  --c-color: #B38B4D;
  --hover-color: rgba(255, 204, 0, 0.5);
  --footer-color: #b6922f;
  
  --grad1-color: #FFCC00;
  --grad2-color: #FFD966;
  --grad3-color: #FFEB3B;
  --grad4-color: #F1C232;
  --grad5-color: #FF9800;

  --font-color: #333;
  --refont-color: #fff;
  --content-color: #fff;
}

[data-theme='neutral'] {
  --header-color: #B0A99F; /* 차분한 회색빛 베이지 */
  --bb-color: #D0D4D3;    /* 밝은 회색 */
  --c-color: #7D7F6D;     /* 어두운 올리브 그레이 */
  --hover-color: rgba(180, 180, 180, 0.5); /* 연한 회색 */
  --footer-color: #A0A39D; /* 회색 톤의 부드러운 베이지 */

  --grad1-color: #D0D4D3;  /* 밝은 회색 */
  --grad2-color: #B0A99F;  /* 차분한 회색빛 베이지 */
  --grad3-color: #7D7F6D;  /* 어두운 올리브 그레이 */
  --grad4-color: #A0A39D;  /* 회색 톤의 부드러운 베이지 */
  --grad5-color: #C3C8C1;  /* 중간 톤의 회색 */

  --font-color: #333;      /* 짙은 글자색 */
  --refont-color: #fff;    /* 밝은 글자색 */
  --content-color: #fff;   /* 배경색 */
}
  


[data-theme='earthy'] {
  --header-color: #8E9A7D; 
  --bb-color: #A3B18C;     
  --c-color: #6D7C4E;      
  --hover-color: rgba(145, 154, 125, 0.5); 
  --footer-color: #5E6A47; 

  --grad1-color: #A3B18C;  
  --grad2-color: #8E9A7D;  
  --grad3-color: #6D7C4E;  
  --grad4-color: #5E6A47;  
  --grad5-color: #A3B18C;  

  --font-color: #333;      
  --refont-color: #fff;    
  --content-color: #fff;   
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scrollbar-gutter: stable;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--bb-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--font-color);
  font-size: 1.4rem;
}

.content-wrapper {
  display: flex;
  gap: 10px;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

main {
  flex: 1;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.loginBox {
  flex-shrink: 0;
  width: 200px;
}
ul {
  list-style-type: none;
}

canvas {
  display: block;
}


/* 스크롤바 전체 */
::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비 */
  height: 5px;
}

/* 스크롤바 배경 */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤바 트랙 색상 */
}

/* 스크롤바 핸들 */
::-webkit-scrollbar-thumb {
  background: var(--c-color); /* 핸들 색상 */
  border-radius: 10px; /* 핸들의 둥근 모서리 */
}

/* 핸들에 마우스를 올렸을 때의 색상 */
::-webkit-scrollbar-thumb:hover {
  background: darken(var(--c-color), 10%); /* 핸들 색상의 어두운 버전 */
}



/* Input Styles */
input {
  width: 16rem;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1.4rem;
  transition: border-color 0.3s;
}

input:focus {
  border-color: var(--bb-color);
  outline: none;
}

/* Container Styles */
.input-container {
  background-color: var(--content-color);
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
}

/* Icon Styles */
.icon-frame {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.section-link h1 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.icon-frame a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 120px;
  padding: 10px;
  text-decoration-line: none;
  font-weight: bold;
  color: var(--font-color);
}

.icon-frame span:nth-child(2) {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  text-align: center;
}

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(./icon.webp);
  background-size: 237.5px 123px;
}

/* Icon positions */
.icon-talk { background-position: -10px -11px; }
.icon-cafe { background-position: -65px -11px; }
.icon-tool { background-position: -120px -11px; }
.icon-discord { background-position: -175px -11px; }
.icon-cirnix { background-position: -10px -67px; }
.icon-imax { background-position: -65px -67px; }
.icon-g { background-position: -120px -67px; }
.icon-key { background-position: -175px -67px; }

/* Component Styles */
.component-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.section-nav {
  display: flex; 
  flex-wrap: wrap;
}

/* Lock Select Styles */
.lock-select {
  display: flex;
}

.lock-option {
  margin-right: 4px;
}

.lock-select input[type="radio"] {
  display: none;
}

.lock-select label {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--content-color);
}

.lock-select input[type="radio"]:checked + label {
  background-color: #333;
  color: white;
}

#lockNum {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2px;
  text-align: center;
}

/* forcelist */
.component-result{
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
}


/* hell */
.component-hell{
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
}

.component-hell>div{
  display: flex;
}

.component-hell-left, .component-hell-right{
  width: 230px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hell-select {
  display: flex;
  margin-bottom: 3px;
}

.hell-option {
  margin-right: 4px;
}

.hell-select input[type="radio"] {
  display: none;
}

.hell-select label {
  display: inline-block;
  width: 25px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--content-color);
}

.hell-select input[type="radio"]:checked + label {
  background-color: #333;
  color: white;
}

#hellNum {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2px;
  text-align: center;
}

/* Button Styles */
#searchBtn {
  display: inline-block; 
  width: 4.5rem; 
  height: 3.5rem;
  margin: 0 0.4rem;
  padding: .4rem; 
  border-radius: .5rem; 
  background-color: var(--footer-color); 
  font-weight: bold;
  color: white; 
  border: none;
  cursor: pointer;
}

.lowerSection {
  background-color: var(--content-color);
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.8rem 1.7rem;
  margin: 0 0.8rem 0.8rem 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.lowerSection:hover:not(.active) {
  background-color: var(--hover-color); 
  color: var(--font-color);
}

.active {
  background-color: var(--hover-color); 
  color: white;
}

/* Radio Button Styles */
input[type="radio"] + div {
  margin-top: 2rem;
}

input[type="radio"], input[type="radio"] + div {
  display: none;
}

input[type="radio"]:checked + div {
  display: block;
}

/* Section Styles */
section {
  padding: 2.5rem;
}

/* Formula Styles */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
}

.formula {
  display: flex;
  margin: 0 0 4rem;
  padding: 2rem;
  background-color: #121a25;
  color: #ffff8f;
  border-radius: 8px;
  font-family: monospace;
  font-size: 1.2rem;
  line-height: 1.4;
}

.formula > pre {
  min-width: 45%;
  margin-right: 1rem;
}

/* Footer Styles */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 1rem;
  background-color: var(--footer-color);
  color: white;
  font-size: 1.4rem;
}

footer i {
  color: #ff7b00;
}

/* Responsive Design */
@media (max-width: 1024px) {

  .content-wrapper {
    flex-direction: column;
    padding: 10px;
  }

  main {
    width: 100%;
    min-height: auto;
  }

  .component-input { 
    flex-direction: column;
    align-items: flex-start; 
  }

  input { 
    margin-top: .5rem;
  }

  .formula {
    flex-direction: column;
    font-size: 1.2rem;
  }
  
  .component-hell-left{
    margin-bottom: 10px;
  }
}