/* styles/Header.module.css */
.header {
  background-color: var(--header-color);
  padding: 1.5rem;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto; /* 중앙 정렬 */
}

.titleContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 20rem;
}

.mainTitle {
  background-color: #fff;
  text-decoration: none;
  outline: none;
  padding: 0.3rem 1.7rem;
  border-radius: 20px;
}

.gradientText {
  font-size: 24px;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    var(--grad1-color),
    var(--grad2-color),
    var(--grad3-color),
    var(--grad4-color),
    var(--grad5-color)
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
   animation: shine 2s linear infinite; /* 애니메이션 추가 */
}

@keyframes shine {
   to {
      background-position: 200% center; /* 애니메이션 효과 */
   }
}

.darkBtn{
  font-size: 1.8rem;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: dotted 3px white;
  /* background-color: black; */

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ul 선택자 수정 */
.headerContent ul {
   list-style-type: none; /* 리스트 스타일 제거 */
   display: flex; /* 수평 정렬 */
   gap: 0.5rem; /* 간격 추가 */
}

.headerContent ul li {
   background-color: rgba(255,255,255,0.2);
   border-radius: 20px;
   cursor: pointer;
   padding: 0.8rem 1.7rem;
   transition: background-color 0.3s, color 0.3s;
   font-size: 1.4rem;
   font-weight: bold;
}

.headerContent ul li:hover {
   background-color:white;
   color: var(--c-color);
}

@media (max-width: 1024px) {
   .headerContent { 
     flex-direction: column;
     align-items: flex-start;
   }

   .titleContainer{
      width: 100%;
   }
 
   .navList{ 
     margin-top: 1rem; 
     width: 100%; 
   }
   .navList i{
     display: none;
   }
   
   .headerContent ul li{
      font-size: 1.2rem;
   }

   .gradientText{
      font-size: 2.4rem;
   }
}