.myPageContainer{
  background-color: var(--content-color);
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin-bottom: 1rem;
  
  display: flex;
}

@media (max-width: 1024px) {
  .myPageContainer{
    flex-direction: column;
  }
}