.awakenDetail{
  font-weight: bold;
  font-size: 1.4rem;
  color: #3498db;
}

#searchBtn{
  display: inline-block;
  width: 5rem;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.resultCard {
  background-color: #4b4b4b; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  max-width: 350px;
  margin: auto;
  padding: 20px;
  color: white; 
}
.resultCard h3 {
  background-color: #666;
  color: white;
  padding: 10px;
  margin: -20px -20px 20px -20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.resultCard h3>div{
  position: absolute;
  top: 1;
  right: 0;
  padding: 5px;
  font-size: 1.5rem;
}
.resultCard h3 i{
  padding: 5px;
  cursor: pointer;
}

.resultTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.2rem;
}
.resultTable th, .resultTable td {
  padding: 5px;
  text-align: center; 
  border: 1px solid #888; 
}
.resultTable th {
  background-color: #666;
}
.resultTable tr:nth-child(even) {
  background-color: #5a5a5a; 
}

.textLeft {
  padding-left: 20px;
  text-align: left;
}

.resultFN tr{
  width: 100%;
}
.resultFN td{
 text-align: start;
 width: 20%;
}

.lastSave{
  text-align: start; 
  font-size: 0.9em;
  color: #ccc;  
  margin-top: -12px;
  padding: 0 0 3px 3px;
}
.lastUpdate {
  text-align: center;
  padding-top: 10px;
  font-size: 0.9em;
  color: #ccc;
}
