
.categoryButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  margin-bottom: 20px;
}

.categoryButton {
  width: 6rem;
  height: 3.5rem;
  border: solid 1px var(--c-color);
  padding: 8px 1px;
  border: none;
  border-radius: 5px;
  background-color: var(--header-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  font-weight: bold;
}

.categoryButton:hover:not(.active) {
  background-color:white;
  border: solid 1px var(--c-color);
  color: var(--c-color);
}

.active {
  border: solid 1px var(--c-color);
  background-color:white;
  color: var(--c-color);
}

.semiTitle{
  font-size: 2.3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.semiTitle>button{
  margin-left: 20px;
  border: none;
  height: 30px;
  width: 50px;
  background-color: var(--header-color);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.semiTitle>button:active{
  background-color:white;
  border: solid 1px var(--c-color);
  color: var(--c-color);
}

.content {
  display: flex;
  height: auto;
}

.itemList {
  flex: 1;
  margin-right: 16px;
  max-height: 400px; 
  overflow: auto;
  border: solid 1px var(--c-color);
  border-radius: 2px;
}

/* WebKit 기반 브라우저 (Chrome, Safari 등) */
.itemList::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비 */
}

.itemList::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤바 트랙 색상 */
}

.itemList::-webkit-scrollbar-thumb {
  background: var(--c-color); /* 스크롤바 핸들 색상 */
  border-radius: 10px; /* 핸들의 둥근 모서리 */
}

.itemList::-webkit-scrollbar-thumb:hover {
  background: var(--bb-color); /* 핸들에 마우스를 올렸을 때 색상 */
}


.itemListItem {
  cursor: pointer;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.itemListItem:hover:not(.iactive) {
  background-color: var(--bb-color);
}

.iactive {
  background-color: var(--bb-color);
}

.itemInfo {
  flex: 2;
}

.itemInfoBlock{
  background-color: var(--bb-color);
  opacity: 0.8;
  padding: 20px;
  border: solid 1px var(--c-color);
  border-radius: 10px;
}

.itemInfoBlock *{
  margin-bottom: 4px;
}

.ingredientItem {
  cursor: pointer;
  color: var(--footer-color); 
  font-weight: bold;
}

.ingredientItem:hover {
  text-decoration: underline; 
}

@media (max-width: 1024px) {
   .content {
     flex-direction: column; 
     margin-right: 0; 
     align-items: center; 
   }

   .itemList {
     margin-right: 0; 
     width: 100%; 
     margin-bottom: 20px; 
     overflow-y: auto; 
     max-height: 150px; 
     border-radius: 5px; 
     box-shadow: rgba(0,0,0,0.1) 0px 2px 8px; 
     background-color: var(--content-color); 
     padding:10px; 
     box-sizing:border-box; 
   }

   .itemInfo {
     width:100%; 
     padding-top :10px; 
   }

   .categoryButton {
     margin-bottom :10px; 
   }
}